<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.sort_by {|c| c.total_spent}.reverse.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= link_to c.name, customer_path(c.mobile), :format => 'html'%></td>
      <td><%= c.mobile%></td>
      <td><%= c.total_spent%></td>
    </tr>
    <%= will_paginate @customers %>
    <%end%>
    
  </tbody>
</table>